.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #31047a;
    padding: 10px 30px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
}
.logo-heading{
    font-size: 20px;
}
.n-links-list{
    color: white;
    font-size: 15px;
    font-weight: 400;
    font-family: roboto;
}
.n-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.button{
    color: #31047a;   
    background-color: white;
    font-size: 15px;
    border: none;
    padding: 5px;
    width: 150px;
    border-radius: 10px;
    font-family: roboto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.mobile-nav{
    display: none;
}

@media screen and (max-width: 786px) {
    .header{
        display: none;
    }
    .mobile-nav{
        display: flex;
        background-color: #31047a;
        padding: 5px 20px;
        justify-content: space-between;
        align-items: center;
    }
    .logo-heading{
        font-size: 15px;
    }
    .mobile-link-list{
        color: white;
    }
    .m-links{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 15px;
    }
}